page-orderpage {

    ion-header {
        height:66px;
      }
      ion-navbar {
        height:66px;
      }
      ion-item {
          padding:0 !important;
      }
      .toolbar .back-button {
          display:none;
      }
      .scroll-content {
          padding:0 !important;
      }
      .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after{
        border-bottom:unset !important;
    }
    .header-ios .toolbar-ios:last-child .toolbar-background-ios{
        background:white;
    }
    
    .header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios{
        border-style:none !important;
        background: white !important;
    }
    .toolbar-background-md {
        background-color:white !important
    }
    .item-md.item-block .item-inner{
        padding-right:0px !important;
    }
      .title {
          margin:0;
         
    font-size: 17px;
    font-weight: 500;
      }
      .ct-title {
          font-size:15px;
        text-align: center;
        padding:15px 20px 15px 20px;
        border-bottom:0.5px solid rgb(234,234,234);
    }
    .no{
        position: absolute;
        right: 5%;
        top: 20%;
        width: 20px;
    }
    .yes{
        position: absolute;
        right: 5%;
        top: 35%;
        width: 20px;
    }
    .item-title {
        font-size: 15px;
        color:black;
        font-weight: 500;
        padding-left: 16px;
    }
    .item-sub {
        font-size: 12px;
        color:grey;
        font-weight: 400;
        padding-left: 17px;
    }
    .noselect{
        
        color:#434343;
    }
    .select{
    }

    .li-title {
        color:#fff;
        background-color:#E8E8E8;
        padding:1%;
        border:1px solid grey;
        margin-top: 8px;
    }
    .li-title > p {
        margin: 7px 0;
        padding-left: 5%;
        font-weight: bold;
        font-size: 16px;
        color:	#696969;
    }
    .li-tl-btn {
        float: right;
        margin-right: 5%;
    }
    .li-content {
        border:1px solid grey;
        padding:3%;
    }
    .nodisplay {
        display:none;
    }
    .nodisplay2 {
        height: 250px !important;
    }
    .main{
        height: 44px !important;
    }
    .select {
        background-color:white;
        border:none;
    }
}
