<ion-header style="background:white;">
    <button (click)="goback()" style="background-color: #fff; float:left; margin-top:15px;">
  <img src="assets/img/back.png" style="width:25px;background-color: #fff;float:left;" alt="">
</button>
    <ion-title style=" 
height: 50px;
z-index: -1;
width: 100%;
position: absolute;">주문페이지</ion-title>
    <!-- </ion-navbar> -->
</ion-header>
<ion-content padding>

    <ion-list>
        <ion-item (click)="view(0)" [ngClass]="selected==0?'noselect':'select'">
            <div style="position:relative; margin-top:5%;" class="main">
                <p style="line-height: 44px;" class="item-title">주문자 정보</p>

            </div>
            <div class="clicked" class="display" style="background:rgb(246,246,246);
   height:90px;
white-space: initial !important; font-size:13px;
  border:0.5px solid rgb(234,234,234);
">
                <div style="
margin-left: 20px;" class="gameshowing">
                    <div style="
  width: 90%;
  height: 110px; padding:10px;
  ">
                        <p> {{user.email}}</p>
                        <p>{{user.name}}</p>
                        <p>{{user.phone}}</p>
                    </div>
                </div>
            </div>
        </ion-item>
        <ion-item (click)="view(2)" [ngClass]="selected==2?'noselect':'select'">
            <div style="position:relative" class="main">
                <p style="
       line-height: 40px;   width: 70%;
       float: left;" class="item-title">배송지 정보</p>
                <button (click)="Delivery_area()" style="background: transparent;
          border: solid 1px; border-radius: 5px; margin-left:10px; margin-top: 10px;">
        입력/변경
      </button>
                <!-- <button onclick="sample3_execDaumPostcode()" >입력/변경</button> -->
            </div>
            <div class="clicked display2" *ngIf="user.address==undefined||user.address==null" style="background:rgb(246,246,246);
       padding:16px; height:auto;
     white-space: initial !important; font-size:13px;
       border:0.5px solid rgb(234,234,234);
     ">
                <div *ngIf="Delivery_check===false">
                    <p>기본 배송지가 입력되지 않았습니다.</p>
                    <p>입력/변경 버튼을 통해 배송지 정보를 입력해주세요.</p>
                </div>

                <div *ngIf="Delivery_check===true">
                    <p>수령인 : {{Delivery.name}}</p>
                    <p>연락처 : {{Delivery.phone}}</p>
                    <p>우편번호 : {{Delivery.code}}</p>
                    <p>주소 : {{Delivery.adress}}</p>
                    <p>상세주소 : {{Delivery.detail_adress}}</p>
                </div>

                <!-- <input type="hidden" id="a" value=""/>
   <input type="hidden" id="b" value=""/>

   <input type="hidden" id="c" value=""/>
   <input type="hidden" id="detailaddr" value=""/>
    <button (click)="btnclicked();" id="btn"></button>
     <div id="wrap" style="display:none;border:1px solid;height:300px;margin:5px 0;position:relative">
      <img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnFoldWrap" style="cursor:pointer;position:absolute;right:0px;top:-1px;z-index:1" onclick="foldDaumPostcode()" alt="접기 버튼">
      </div>

       -->
            </div>
            <div class="clicked" *ngIf="user.address!=undefined||user.address!=null" [ngClass]="selected==2?'display2':'nodisplay2'" style="background:rgb(246,246,246);
     padding:16px; height:auto;
   white-space: initial !important; font-size:13px;
     border:0.5px solid rgb(234,234,234);
   ">


            </div>



        </ion-item>
        <ion-item>
            <div style="position:relative" class="main">
                <p style="
     line-height: 40px;" class="item-title">주문상품</p>
            </div>

            <div class="clicked" class="display" style="background:rgb(246,246,246); height:380px;
        white-space: initial !important; font-size:13px;border:0.5px solid rgb(234,234,234);">
                <p style="
        font-size: 15px;
        font-weight: bold;
        margin-left: 20px;
        margin-top: 5px;">선택한 게임</p>
                <div style="min-height: 150px; 
    padding: 10px; padding-top:0px;" class="gameshowing">
                    <div style="
      width: 33%; 
    display: grid;
      height: 110px; padding:10px;
      float: left;" *ngFor="let game of gamearray; let i = index" [ngClass]="game.fflag==true ? 'gameshowwithborder':'gameshow'">
                        <img style="
        height: 80px;
        width: 100%;" src="{{game.url}}" />
                        <span style="font-weight: bold; font-size: 14px;">{{game.name}}
        </span>
                        <span style="font-size:13px;">{{number_format(game.price)}}</span>
                    </div>
                </div>
                <p style="font-size: 15px;font-weight: bold;margin-left: 20px;margin-top: 5px;">선택한 하드웨어</p>
                <div style="min-height: 150px;padding: 10px; padding-top:0px;" *ngIf="hardware!=undefined" class="gameshowing">
                    <div style="width: 33%;display: grid;height: 110px; padding:10px;float: left; text-align: center;" *ngIf="hardware.length!=0">
                        <img style="height: 80px;width: 100%;" src="{{hardware.url}}" />
                        <span style="font-weight: bold; font-size: 14px;">{{hardware.name}}</span>
                    </div>
                    <div *ngFor="let peri of choiceperi; let i = index" style="width:33%;display:grid; height:110px; padding:10px; float:left; text-align: center;">
                        <img style="height:80px; width:100%;" src="{{peri.url}}" alt="">
                        <span style="font-weight:bold; font-size:14px;">{{peri.name}}</span>
                    </div>
                </div>
            </div>
        </ion-item>



        <!-- <ion-item>
            <div style="position:relative" class="main">
                <p style="
          line-height: 40px;" class="item-title">할인적용 <span style="font-size:9px; color:red;"> * 코인을 누르면 할인이 적용됩니다(코인 1개 = 1,000원)</span> </p>
            </div>

            <div class="clicked" style="background:rgb(246,246,246);
          height:auto;
       white-space: initial !important; font-size:13px;
         border:0.5px solid rgb(234,234,234);
       ">
             <p style="margin-top:20px; margin-left:20px;">  가용포인트 &nbsp;&nbsp;  {{point}}
        <input style="border-radius:10px; width:120px; border: solid 1px;" type="text"/><button style="background: transparent;
        border: solid 1px;
        border-radius: 5px; margin-left:10px;" >적용</button>
      </p> 


                <div style="     
      height: 100%;
      background: #70c5ed;
      color: white;
      " class="up">

                    <div (click)="clickcoin();" style="padding: 10px;
  height: 100%;
  text-align: center; 
    line-height: 50px;
  display: block;" class="upper2">

                        <div style=" 
  width: 50%;
  margin: auto;" class="inner">
                            <span style="display:inline-block;"> 코인 수 : </span> <img id="abc" style="    vertical-align: middle;
    height: 25px;
    position: absolute; margin-top:10px;
    /* bottom: 30px; */
    width: 25px;
    text-align: center;
    font-size: 80px;" src="/assets/img/coinimage.png" /><span style="
    margin-left: 30px;" class="coin">  x {{coins}}</span>


                        </div>

                    </div>
                </div>


            </div>
        </ion-item>
        <ion-item>
            <div style="position:relative" class="main">
                <p style="line-height: 44px;" class="item-title">주문시 결제금액 </p>

            </div>
            <div class="clicked" style="background:rgb(246,246,246);
            height:250px; margin-bottom: 50px;
            white-space: initial !important; font-size:13px;
            border:0.5px solid rgb(234,234,234);
          ">

                <div style="margin-right:30px; text-align: right;" class="right">
                    <p style="
  font-size: 16px;
  font-weight: bold; margin-left:15px; margin-top:20px;"> 총 금액</p>
                    <p style="margin-left:5px; font-size:18px; margin-top:20px;"> {{number_format(totalprice)}}</p>

                    <p style="
  font-size: 16px;
  font-weight: bold; margin-left:15px; margin-top:20px;"> 할인 금액</p>
                    <p style="margin-left:5px; font-size:20px; font-weight: bold; margin-top:20px;"> - {{number_format(discount)}}</p>

                    <p style="
  font-size: 16px;
  font-weight: bold; margin-left:15px; margin-top:20px;"> 지불 금액</p>
                    <p style="margin-left:5px; font-size:22px; font-weight: bolder; margin-top:20px;"> {{number_format(pricetopay)}}</p>
                </div>


            </div>
        </ion-item> -->


    </ion-list>

</ion-content>

<!-- <div (click)="orderpage()" style="position: absolute; -->
<div (click)="payment()" style="position:absolute; bottom: 0%; width: 100%; z-index: 99999; height: 50px; text-align: center; background: #E5333F; " class="order ">
    <p style=" font-size: 18px; line-height: 10px; color: white; ">빌리기 (3/3)</p>
</div>

<!-- <ion-content *ngIf=" " class="main-view " style="background: transparent; background-color: transparent; height: 60%; top: 20%; " padding>
    
</ion-content> -->