<!--
  Generated template for the ChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<ion-header>

  <ion-navbar>
    <ion-title style="width:100%">관리자와 대화</ion-title>
  </ion-navbar>

</ion-header>


<ion-content  >
    <div class="popup-box chat-popup"  id="qnimate">
    <div class="popup-messages">
    <div #scrollMe [scrollTop]="scrollMe.scrollHeight" class="direct-chat-messages">
                  
    <div class="chat-box-single-line" *ngFor="let date of chat_date">
      <abbr class="timestamp" >{{date}}</abbr>
      <div class="chatMsg" *ngFor="let item of chatMsg">
          <div *ngIf="date===item.onlydate&&item.id===id" class="direct-chat-msg doted-border">
                            <!-- 내 화면 ,   -->
            <div (click)="clicked(item.content)" class="direct-chat-text" *ngIf="item.type=='foto'">
                <img src={{item.content}}/>
              </div>
              <div class="direct-chat-text" *ngIf="item.type!='foto'">
                {{item.content}}
              </div>
                <div class="direct-chat-info clearfix">
                <span class="direct-chat-timestamp pull-right">{{item.created_date.substring(10)}}</span>
              </div>
    
            </div>

          <div *ngIf="date===item.onlydate&&item.id!==userId" class="direct-chat-msg2 doted-border2">
            <!-- 상대방 채팅내용 -->
            <div class="direct-chat-info clearfix">
                  <span class="direct-chat-name pull-left">{{item.id}}</span>
                </div>
                <img alt="message user image" src="{{image}}" class="direct-chat-img">
                <div (click)="clicked(item.content)" class="direct-chat-text" *ngIf="item.type=='foto'">
                    <img src={{item.content}}/>
                  </div>
                  <div class="direct-chat-text" style="left:1%" *ngIf="item.type!='foto'">
                    {{item.content}}
                  </div>
                <div class="direct-chat-info clearfix" style="margin-left: 14rem;">
                  <span class="direct-chat-timestamp pull-left">{{item.created_date.substring(10)}}</span>
                </div>
    
              <!-- /.direct-chat-text -->
            </div>
          </div>
        </div>
        
        
        <!-- Message. Default to the left -->
              
            
                  <!-- /.direct-chat-msg -->
                </div>
    </div>
    <div class="popup-messages-footer">
            <button style="width:10%; float:left" class="bg_none" (click)="takeFoto()"><i class="glyphicon glyphicon-camera"></i> </button>
            
          <textarea  id="status_message" [(ngModel)]="contents" placeholder="Type a message..." rows="10" cols="40" name="message"></textarea>
          <button class="enter" (click)="entered()" ion-button >입력</button>
    
    </div>
  </div>
  <div class="user">
    {{deliveryGuy}}  <img class="image" src="{{image}}"/>
  </div>
</ion-content>