page-peripheral {
    .header-md::after,
    .tabs-md[tabsPlacement="top"]>.tabbar::after {
        background: transparent;
        border-bottom: 5px solid #eee;
    }
    .gameshowwithborder {
        border-radius: 8px;
        background-color: #70c5ed;
    }
    .gamelist1 {
        border: 1px dashed #70c5ed;
        width: 31%;
        height: 45%;
        text-align: center;
        margin: 10% 1% 1% 1%;
        padding: 3% 0 3% 0;
        float: left;
        span {
            font-weight: 800;
        }
    }
    .gamelist2 {
        border: 1px dashed #70c5ed;
        width: 31%;
        height: 45%;
        text-align: center;
        margin: 1% 1% 1% 1%;
        padding: 3% 0 3% 0;
        float: left;
        span {
            font-weight: 800;
        }
    }
}