page-chat {
    
    @import url(https://fonts.googleapis.com/css?family=Oswald:400,300);
    @import url(https://fonts.googleapis.com/css?family=Open+Sans);
    body
    {
    font-family: 'Open Sans', sans-serif;
    }

    .chat-area{
        width: 100%;
        height: 90%;
        margin-bottom: 10px;
        padding: 0;
        // z-index: 10000;
    }

    .my-userbox{
        float: right;
        min-width: 20%;
        max-width: 50%;
        margin: 5px 5% 5px 45%;
    }

    .other-userbox{
        float: left;
        min-width: 20%;
        max-width: 50%;
        margin: 5px 45% 5px 5%;
    }

    .my_readck{
        padding: 0;
        margin: 0;
        width: 2%;
        display: inline-block;
        margin-top: 30%;
        margin-left: 15%;
    }

    .other_readck{
        padding: 0;
        margin: 0;
        width: 2%;
        display: inline-block;
        margin-top: 30%;
        margin-right: 15%;
    }

    .other-user{
        border: solid 2px aqua;
        border-radius: 10px;
        padding: 10px;
        float: left;
    }

    .my-user{
        border: solid 2px red;
        border-radius: 10px;
        padding: 10px;
        float: right;
    }

    .img{
        width: 100%;
        height: auto;
        // margin: 2%;
        padding: 0;
    }

    .input-area{
        position: absolute;
        width: 100%;
        bottom: 0px;
        // z-index: 10001;
        height: 10%;
        border: solid 1px black;
        padding: 1%;
    }

    .img-upload{
        float: left;
        width: 10%;
        height: 90%;
        padding: 0;
        border-radius: 10%;
    }

    .text-area{
        float: left;
        width: 75%;
        
        // margin: 0;
        // padding: px;
    }

    .enter-button{
        float: right;
        width: 15%;
        height: 90%;
        border-radius: 10%;
    }
}
