page-cameraselect {
    .picture {
        display: inline-block;
        padding: 0px !important;
        height: 100px;
        width: 45%;
        // border: 1px solid red
    }
    .btnimg {
        width: 60%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .btn {
        background: rgb(233, 233, 233);
        color: black;
        height: 25px;
        // border: solid 1px;
    }
    .confirmm {
        padding: 0px !important;
        width: 100%;
        margin-top: 5%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        background: #70c5ed;
        color: black
    }
    .main-view {
        background: transparent;
    }
    .modal_content {
        background: aliceblue;
        left: 0;
        right: 0;
        width: 90%;
        height: auto;
        padding: 10px;
        z-index: 100;
        margin: 0 auto;
        padding: 5%;
        color: #333;
        border-radius: 5px;
        box-shadow: 0 2px 3px rgba(51, 51, 51, .35);
        overflow: hidden;
    }
}