page-game-detail {
    // .player-box{
    //     position: absolute; 
    //     display: inline-block;
    //     padding: 0;
    //     width: 20%;
    //     height: 5%;
    //     text-align: center;

    // }

    // .ST-box{
    //     position: absolute; 
    //     display: inline-block;
    //     padding: 0;
    //     width: 40%;
    //     height: 5%;
    //     // text-align: center;
    //     font-size: 80%;
    // }
    // //1095 401
    // //164 65
    // .image-box{
    //     position: absolute; 
    //     display: inline-block;
    //     padding: 0;
    //     width: 40%;
    //     text-align: center;
    // }

    .game-title{
        width: 90%;
        margin-left: 5%;
        padding: 5%;
        text-align: center;
        font-size: 125%;
        display: inline-block;
        font-weight: 700;
        border-radius: 10px;
        border: solid 1px lightblue;
        position: relative;
        top: -50px;
    }

    .game-body{
        width: 100%;
        // text-align: center;
    }

    .option-box{
        background-color: rgb(218,218,218);
        padding: 3%;
        margin: 2%;
        border-radius: 5%;
        position: relative;
        top: -50px;
    }

    .option-title{
        color: rgb(83,83,83);
        font-weight: bolder;
        display: inline-block;
    }

    .option-text{
        color: rgb(89,89,89);
        display: inline-block;
        // width: 100%;
    }
}
