<ion-content >
  <div (click)="Dismiss()" style="position: sticky;
      top: 92%;
      width: 100%;
      z-index: 10000;
      height: 8%;
      text-align: center;
      background: #46B033;">
    <p style="padding: 4.5%;">닫기</p>  
  </div>

  <p class="game-title">
    {{game.description.main_title}}
  </p>

  <img style="width: 90%; margin-left: 5%; position: relative; top: -50px;" src="{{game.url}}"/>
  
  <div class="option-box" style="margin-bottom: 60px;">
    <div style="width: 100%;" *ngIf="game.description.model!=''">
      <p class="option-title">대응 기종: </p>
      <p class="option-text">{{game.description.model}}</p>
    </div>

    <div style="width: 100%;" *ngIf="game.description.genre!=''">
      <p class="option-title">장르: </p>
      <p class="option-text">{{game.description.genre}}</p>
    </div>
    
    <div style="width: 100%;" *ngIf="game.description.open_date!=''">
      <p class="option-title">발매일: </p> 
      <p class="option-text">{{game.description.open_date}}</p>
    </div>
    
    <div style="width: 100%;" *ngIf="game.description.maker!=''">
      <p class="option-title">메이커: </p> 
      <p class="option-text">{{game.description.maker}}</p>
    </div>
    
    <div style="width: 100%;" *ngIf="game.description.player!=''">
      <p class="option-title">플레이 인원수: </p> 
      <p class="option-text">{{game.description.player}}</p>
    </div>
    
    <div style="width: 100%;" *ngIf="game.description.net!=''">
      <p class="option-title">인터넷 통신 플레이 인원수: </p> 
      <p class="option-text">{{game.description.net}}</p>
    </div>
    
    <div style="width: 100%;" *ngIf="game.description.local!=''">
      <p class="option-title">로컬 통신 플레이 인원수: </p> 
      <p class="option-text">{{game.description.local}}</p>
    </div>
    
    <div style="width: 100%;" *ngIf="game.description.language!=''">
      <p class="option-title" style="float: left;">대응언어: </p> 
      <p class="option-text" style="width: 70%;">{{game.description.language}}</p>
    </div>
    
    <div style="width: 100%;" *ngIf="game.description.capacity!=''">
      <p class="option-title">필요한 용량: </p> 
      <p class="option-text">{{game.description.capacity}}</p>
    </div>
    
    <div style="width: 100%;" *ngIf="game.description.controller!=''">
      <p class="option-title">대응 컨트롤러: </p> 
      <p class="option-text" style="font-size:95%;">{{game.description.controller}}</p>
    </div>
    
    <div style="width: 100%;" *ngIf="game.description.playmode!=''">
      <p class="option-title">플레이 모드: </p> 
      <p class="option-text">{{game.description.playmode}}</p>
    </div>

  </div>
</ion-content>