<ion-header no-border style="border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important; z-index: 11 !important">
    <ion-navbar style="border: 0px !important;
      border-bottom-color: transparent !important;
      background-image: none !important;
      border-bottom: none !important;">
        <div style="  font-size:17px;  text-align: center;" class="title">
            <span style="
    width: 100%;
    margin-left: 100px;
    font-size: 18px;
    font-weight: bold;
    color: black;">
      Ming
    </span>

            <div style="
    float: right;" class="righticonarea">
                <!-- <img (click)="coinpoint();" src="assets/img/coinimage.png" style="font-size: 1.8em;
      right: 15%; 
    margin-top: 10px;
      width:25px;
      margin-left:3px;
      margin-right:3px;" name="search" /> -->
                <img (click)="settings();" src="assets/img/set7.png" style="font-size: 1.8em;
      right: 15%; 
    margin-top: 15px;
      width:32px;
      margin-left:3px;
      margin-right:3px;" name="search" />
                <img (click)="mypage();" src="assets/img/mypage3.png" style="font-size: 1.8em;
    right: 15%; 
  margin-top: 10px;
    width:30px;
    margin-left:3px;
      margin-right:3px;" name="search" />
                <!-- <ion-icon style="
    font-size: 30px;
    margin-left: 10px;" name="settings" (click)="settings();"></ion-icon>
    <ion-icon style="
    font-size: 30px;
    margin-left: 10px;" name="contact"  (click)="mypage();" ></ion-icon> -->
            </div>
        </div>


    </ion-navbar>
</ion-header>
 
<ion-content class="home">

    <ion-slides *ngIf="slides && slides.length" pager="true" autoplay="5000" loop=true speed=1000 class="firstslide" style="width: 100% !important; height:30%; margin-top:40px !important;">
        <ion-slide style="width:100% !important;" *ngFor="let slide of slides">

            <!-- <img style="width:100% !important; height:100% !important;" (click)="enlarge(slide)" src="sli"> -->

            <img style="width:100% !important; height:100% !important;" [src]="slide.url">
        </ion-slide>
    </ion-slides>

    <p style="font-size:20px; 
  margin-bottom: 0px; text-align: center;">Nintentdo Switch</p>
    <!-- <div class="test"> -->
    <div (click)="gotoshop(switcharray[0])" style="
    width: 70%;
    text-align: center;
    margin: auto;">
        <img class='imagereservation' src="{{realswitcharray}}" style="height:150px;" />
    </div>
    <!-- </div> -->
    <hr>
    <p id="ps" style="font-size:20px; 
  margin-bottom: 0px; text-align: center;">Playstation</p>
    <!-- <div  class="test"> -->
    <div (click)="gotoshop(psarray[0])" style=" width: 70%;
    text-align: center;
    margin: auto;">
        <img style="height: 150px;" class='imagereservation' src="{{realpsarray}}" />
    </div>
    <!-- </div> -->

    <!-- <div  class="description">
    
    <p style="font-size:15px; font-weight: bold; text-align: center;">

     이용 후기
    </p>

    <ionic3-star-rating style="
    text-align: center;" #rating
        activeIcon = "ios-star"
        defaultIcon = "ios-star-outline"
        activeColor = "#46B033" 
        defaultColor = "#f4f4f4"
        readonly="false"
        rating="5"
        fontSize = "32px"
        (ratingChanged)="logRatingChange($event)">
    </ionic3-star-rating>

    <ion-list>
      <ion-item>
        <ion-label>1 Yellow</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>2 Yellow</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>3 Yellow</ion-label>
      </ion-item>
      </ion-list>
  </div> -->

    <footer class="putter_base">
        <div class="putter_text">대표이사:</div>
        <div class="putter_text2">정평두</div>
        <div class="putter_text">사업자등록번호:</div>
        <div class="putter_text2">210-30-81698</div>
        <div class="putter_text">통신판매업신고번호:</div>
        <div class="putter_text2">제2010-경기안양-402호</div>
        <div class="putter_text">사업장 소재지:</div>
        <div class="putter_text2">전주대학교본관</div>
        <!-- <div class="putter_text">전주 본사:</div>
        <div class="putter_text2">전주대학교본관</div> -->
        <div class="putter_text">개인정보관리책임자:</div>
        <div class="putter_text2">정평두</div>
        <div class="putter_text">고객샌터:</div>
        <div class="putter_text2">070-4155-8598 / kotran@naver.com</div>
    </footer>

    <ion-fab right style="bottom: 25%;">
      <button ion-fab mini style="background-color:rgb(75, 170, 199);" (click)="go_chat()">
        <img src="assets/img/chat2.png" style="width:30px;" alt="">
      </button>
    </ion-fab>

</ion-content>

<ion-nav id="nav" #content [root]="rootPage"></ion-nav>