<ion-header no-border style="border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important; z-index: 11 !important">
  <ion-navbar style="border: 0px !important;
      border-bottom-color: transparent !important;
      background-image: none !important;
      border-bottom: none !important;">
    <div style="  font-size:17px;  text-align: center;" class="title">
      그그그?
    </div>
    <img src="assets/img/magnify.png" (click)="mypage();" style="font-size: 1.8em;
      right: 15%;
      width:22px;
      position: absolute;
      color:gray;
      bottom: 10px;" name="search"
    />
  </ion-navbar>
</ion-header>

<ion-content class="home">

  <ion-slides class="firstslide" style="width:100% !important;" pager style="height:auto; margin-top: 20px;">
    <ion-slide style="width:100% !important;" *ngFor="let slide of slides">
        <img style="width:100% !important; height:100% !important;" (click)="enlarge(slide)" [src]="slide.url">
    </ion-slide>
  </ion-slides>

  <p  style="font-size: 1.5rem; margin-left: 1em;">Nintentdo Switch</p>
  <!-- <div class="test"> -->
    <div (click)="gotoshop(switcharray[2])" style="width: 200px; text-align: center;">
      <img  class= 'imagereservation' src="{{realswitcharray}}" style="height:150px;"/>
      <span   class="s">
        <p style="margin-top: 15px;  font-size: 12px !important;">Nintendo Switch</p>
      </span>
    </div>
  <!-- </div> -->

  <p id="ps"  style="font-size: 1.5rem; margin-left: 1em;">Playstation</p>
  <!-- <div  class="test"> -->
    <div (click)="gotoshop(a)" *ngFor="let a of psarray; let i = index" style="width: 200px; text-align: center;">
      <img  style="height: 150px;"   class= 'imagereservation' src="{{realpsarray}}"/>
      <span class="s">
        <p  style="margin-top: 15px;  font-size: 12px !important;">PayStation</p>
      </span>
    </div>
  <!-- </div> -->

  <footer class="putter_base">
    <div class="putter_text">대표이사:</div><div class="putter_text2">정평두</div>
    <div class="putter_text">사업자등록번호:</div><div class="putter_text2">214-87-79183</div>
    <div class="putter_text">통신판매업신고번호:</div><div class="putter_text2">제2010-경기안양-402호</div>
    <div class="putter_text">사업장 소재지:</div><div class="putter_text2">전주대학교본관</div>
    <div class="putter_text">전주 본사:</div><div class="putter_text2">전주대학교본관</div>
    <div class="putter_text">개인정보관리책임자:</div><div class="putter_text2">정평두</div>
    <div style="color: rgb(54,54,54);">
      <div class="putter_text">고객샌터:</div><div class="putter_text2">1522-4100 / myomeecs@lotte.net</div>
    </div>

    <div class="anchor_base">
      <a class="anchor_text">채무지급보증보험</a>
      <a class="anchor_text">이용약관</a>
      <a class="anchor_text">전자금융거래약관</a>
      <a class="anchor_text">개인정보처리방침</a>
    </div>
    <div class="putter_text" style="width: 100%;">Copyright.........................................................</div>
  </footer>

  <ion-menu class="menu" side="right"  [content]="content">  
    <ion-content class="c">      
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        dddd
        <p class="logo" *ngIf="p.title=='고객센터(1:1문의)'"></p>
      </button>
            
      <div *ngIf="loginflag=='true'" class="profile">
        <div class="left" >
          <p style="line-height: 6rem;">{{id}}</p>

          <button (click)="logout();">로그아웃</button>
        </div>
        <div class="right"></div>
      </div>
      
      <div  *ngIf="loginflag=='false'" class="profile">
        <button style="    background: transparent;
            color: black;
            border: solid 1px;
            width: 70%; border-radius: 10px;
            font-size: 13px;" ion-button (click)="kakaoLogin()">
          로그인
        </button>
      </div>
      
      <ion-list>
        <ion-item (click)="openrulepage()">
        </ion-item>
        <ion-item  (click)="openrule2page()">
          개인정보 처리 방침
        </ion-item>
      </ion-list>
      
      <button style="background: aliceblue;
          color: black;
          top: 2rem;
          height: 5%;
          width: 70%;
          left: 15%;

          border-radius:10px;
          font-size: 13px;" ion-button (click)="share()">
        친구에게 알리기
      </button>

      <button *ngIf="logined=='true'" style="background: aliceblue;
          color: black;
          top: 2rem;
          height: 5%;
          width: 70%;
          left: 15%;
          border-radius:10px;
          font-size: 13px;" ion-button  (click)="logout()">
        로그아웃
      </button>
    </ion-content>
  </ion-menu>
</ion-content>

<ion-nav id="nav" #content [root]="rootPage"></ion-nav>