<!--
  Generated template for the CoinsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header style="
display: flex; background-color: #E5333F; margin-top:10%;">
    <!-- <ion-navbar> -->
    <button (click)="goback()" style="background-color: #E5333F; float:left; z-index: 999999; ">
      <img src="assets/img/back1.png" style="width:25px;background-color: #E5333F;float:left;" alt="">
    </button>
    <ion-title style="
    height: 50px;
    z-index: -1;
    width: 100%;
    position: absolute;">코인 적립</ion-title>
    <!-- </ion-navbar> -->
</ion-header>

<ion-content padding style="margin-top:10%;">
    <div style="width: 80%; border: solid 1px; padding:10px; height: 45px; margin: auto; margin-top:10%;
      display: flex; align-items:center;" class="mycoin">
        <img style="width:15px;" src="assets/img/coinimage.png" />
        <span style="margin-left: 70px;">My coins</span>
        <span style="right: 20%; position: absolute;">X {{mycoins}}</span>
    </div>

    <br>

    <div style="width: 90%; border: solid 1px; padding:10px; height: 45px;
      margin: auto; margin-top:10px; position: relative;
      align-items:center;" class="mycoin" *ngFor="let list of coin_list; let i = index;">
        <img style="width:15px;" src="assets/img/coinimage.png" />

        <span style="margin-left: 10px;">{{list.reason}}</span>
        <span style="float: right;">개</span>
        <span style="float: right; color: blue;" *ngIf="list.coin>=0">{{list.coin}}</span>
        <span style="float: right; color: red;" *ngIf="list.coin<0">{{list.coin}}</span>
        <span style="position: absolute; right: 40px; font-size: 10px; bottom: 1px;">{{list.date.split('|')[0]}}</span>

    </div>

</ion-content>