<ion-content>
    <div style="background-color:rgb(240, 239, 239);">
        <button (click)="goback()" style="background-color: rgb(240, 239, 239); float:left; margin-top:9px;">
            <img src="assets/img/back.png" style="width:20px;background-color: rgb(240, 239, 239);;float:left;" alt="">
        </button>
        <ion-title style="margin-left:35%; margin-right:35%; text-align: center;">주문페이지</ion-title>
    </div>

    <div style="margin-left:auto; margin-right:auto; margin-top:10px; text-align: center;">
        <span>대여기간 : </span>
        <span style="font-size:25px; background-color:rgb(240, 239, 239)">{{diff}}일</span>
        <span style="font-size:12px;">({{startDate.split("T")[0].split("-")[1]}}월 {{startDate.split("T")[0].split("-")[2]}}일 ~ {{endDate.split("T")[0].split("-")[1]}}월 {{endDate.split("T")[0].split("-")[2]}}일)</span>
    </div>
    <div *ngIf="hardware != undefined" style="position: relative; width: 90%; margin-top:10px; margin-bottom:5px; margin-left:auto; margin-right:auto; padding:10px; border:2px solid; border-color:black ">
        <span style="font-size:17px; margin-bottom:10px;">{{hardware.name}}</span>
        <span style="font-size:13px;"><br>* 보증금 선택</span><br>
        <ion-item>
            <ion-range min="0" max="{{hardware.pricenormal}}" pin="true" step="{{tick}}" snaps="true" (ionChange)="choice()" [(ngModel)]="contrast" class="range">
                <ion-label range-left name="contrast"></ion-label>
                <ion-label range-right name="contrast"></ion-label>
            </ion-range>
        </ion-item>
        <div style="text-align: center;">
            <span *ngIf="contrast == undefined" style="font-size:13px;">보증금을 선택하세요.</span>
            <span *ngIf="contrast != undefined" style="font-size:13px;">보증금 : {{number_format(contrast)}}</span>
            <div style="text-align: left;">
                <span *ngIf="contrast != undefined" style="font-size:13px;">- 1일 대여료 : {{number_format(hwprice)}}원</span><br>
            </div>
            <div style="text-align: right;">
                <!-- <span *ngIf="contrast==0" style="font-size:15px;">원</span> -->
                <span *ngIf="contrast!=undefined" style="font-size:15px;">{{number_format(hwprice*diff)}}원</span>
            </div>
        </div>
    </div>
    <div *ngFor="let game of game" style="position: relative; width: 90%; margin-top:10px; margin-bottom:5px; margin-left:auto; margin-right:auto; padding:10px; border:2px solid; border-color:cornflowerblue">
        <span style="font-size:17px;">{{game.name}}</span>
        <div>
            <span style="font-size: 13px;">{{game.description.main_title}}</span><br>
            <span style="font-size: 13px;"> - 1일 대여료 : </span>
            <span *ngIf="hardware===undefined" style="font-size: 13px;">{{number_format(game.price)}}원</span>
            <span *ngIf="hardware!=undefined" style="text-decoration:line-through; font-size:13px; color:#9e9e9e">{{number_format(game.price)}}원</span>
            <span *ngIf="hardware!=undefined" style="font-size:13px;">{{number_format(game.saleprice)}}원</span>
        </div>
        <div style="text-align: right;">
            <span *ngIf="hardware==undefined" style="font-size:15px;">{{number_format(game.price * diff)}}원</span>
            <span *ngIf="hardware!=undefined " style="text-decoration:line-through; font-size:15px; color:#9e9e9e ">{{number_format(game.price * diff)}}원</span>
            <span *ngIf="hardware!=undefined " style="font-size:15px; ">{{number_format(game.saleprice)}}원</span>
        </div>
    </div>
    <div style="width:90%; position:relative " class="main ">
        <span style="margin-left:25px; font-size:17px; line-height: 40px; ">
            할인적용
            <span style="font-size:9px; color:red; "> 
                <!-- * 코인을 누르면 할인이 적용됩니다(코인 1개 = 100원) -->
                {{sale_data.coin.text}}
            </span>
        </span>
    </div>
    <div class="clicked" style="background: #70c5ed; color: white; height: 80px; width: 100%; position: relative;">
        <!-- <div style="position: absolute;" class="up "> -->
        <img (click)="godown();" style="height: 100%; float: left;" src="assets/img/arrow_down.png" />
        <img (click)="goup();" style="height: 100%; float: right;" src="assets/img/arrow_up.png" />
        <div style="width: 100%; text-align: center; line-height: 80px;" class="inner">
            <span style="display:inline-block;"> 코인 수 : </span>
            <img id="abc" style="height: 25px; width: 25px; font-size: 80px; bottom: 30px; position: absolute;" src="/assets/img/coinimage.png " />
            <!-- <span style="margin-left: 30px;" class="coin ">  x {{}}</span> -->
            <span style="margin-left: 30px;" class="coin ">  x {{coins}}</span>
        </div>
        <!-- </div> -->
    </div>
    <div style="width:90%; position:relative " class="main ">
        <div style="width:30%">
            <span style="margin-left:25px; font-size:17px; line-height: 40px; ">총 결제금액</span>
        </div>
        <div style="text-align: right; margin-left:150px; margin-top:-30px;">

            <span *ngIf="totalpaymoney!=originpay" style="font-size:17px; text-decoration: line-through; color:#9e9e9e">{{number_format(originpay)}}원</span>
            <span style="font-size:17px; margin-left:0px;">{{number_format(totalpaymoney)}}원</span><br><br>

        </div>
        <div style="width:70%">
            <span style="margin-left: 25px; font-size:15px;">보증금</span>
            <!-- <span style="font-size:11px">(보증금은 기계 정상 반납 시 반납됩니다.)</span> -->
        </div>
        <div style="text-align: right; margin-left:150px; margin-top:-20px; margin-bottom:20px;">
            <span style="font-size:13px;">{{number_format(contrast)}}원</span>
        </div>

        <div style="width:30%; margin-top:15px;">
            <span style="margin-left: 25px; font-size:15px;">할인적용</span>
        </div>

        <div style="text-align: right; margin-top:-20px;">
            <span *ngIf="contrast!=undefined" style="font-size:13px;">장기대여할인 {{longdiscount_text}}: -{{longdiscount}}원</span><br>
            <span style="font-size:13px;">기기대여에 따른 게임할인(-{{sale_data.percentage.console}}) : -{{console_sale_gameprice}}원</span><br>
            <span style="font-size: 13px;">코인할인 : </span>
            <span *ngIf="coindiscount===0||coindiscount===undefined" style="font-size:13px">0원</span>
            <span *ngIf="coindiscount>0" style="font-size:13px">-{{number_format(coindiscount)}}원</span>
        </div>
    </div>
    <div (click)="ordering();" style="position:sticky; bottom: 0%; width: 100%; z-index: 99999; height: 50px; text-align: center; background: #E5333F; " class="order ">
        <button style="margin-top:14px; background-color:#E5333F; font-size: 18px; color: white; ">결제하기</button>
    </div>
</ion-content>