<!-- <ion-header>
    <ion-toolbar color="white">
    </ion-toolbar>
</ion-header> -->
<ion-content padding [ngClass]="platformname == 'ios' ? 'ios-margin' : 'android-margin'">
    <img src="assets/img/menu-icon.png" menuToggle style="width: 40px;
  height: 40px; background: transparent;
  margin: 0; padding: 5px; margin-top:10px;
  float: left;" *ngIf="search_flag==false" />

    <div style="width: 70% !important; height:auto; margin-left: 15%;
  margin-top:15px !important;line-height: 30px;
  border-radius: 30px;">
        <ion-slides #modeSlide pager=false loop=true centeredSlides=true slidesPerView="2" (ionSlideDidChange)="slideChanged()">
            <!-- <ion-slide *ngFor="let list of select_list; let i = index;" style="width:100% !important;">
                <span style="font-weight: 800; font-size: 20px; color:#70c5ed">{{list.name}}</span>
            </ion-slide> -->
            <ion-slide style="width:100% !important">
                <p style="font-weight: 800; font-size:20px; padding:0; margin:0; color:#70c5ed" class="slidenintendo">닌텐도 스위치</p>
                <!-- <span style="font-weight:800; font-size:20px;">닌텐도 스위치</span> -->
            </ion-slide>
            <ion-slide style="width:100% !important">
                <p style="font-weight: 800; font-size:20px; padding:0; margin:0; color:#d3d3d3" class="slideps">플레이스테이션</p>

                <!-- <span style="font-weight:800; font-size:20px;">플레이스테이션</span> -->
            </ion-slide>
        </ion-slides>

        <img (click)="change_category(-1)" class="change-category" />
        <img (click)="change_category(1)" class="change-category">
    </div>

    <div *ngIf="search_flag===true" style=" position: absolute; 
  width: 100%; height:40px; z-index: 50; top: 0; background: white;">
        <input *ngIf="image_flag==true" id="searchbox" placeholder="검색어를 입력해주세요." [(ngModel)]="search_str" (ngModelChange)="searching(search_str)" type="text" />
        <input *ngIf="image_flag==false" id="closebox" placeholder="검색어를 입력해주세요." [(ngModel)]="search_str" type="text" />
    </div>
    <img (click)="search_area()" *ngIf="search_flag==false" src="assets/img/magnify.png" class="magnify" />
    <img (click)="search_area()" *ngIf="search_flag==true" src="assets/img/cancel.png" class="cancelimage" />
    <div class="daycss">
        <ion-datetime #datePicker style="width: 25%; display:none; position: absolute;" (ionChange)="getDashboardItemsByDate(sdate)" readonly class="date" displayFormat="YYYY MMMM DD" min={{year}} max={{year+1}} cancelText="취소" doneText="확인" [(ngModel)]="sdate"></ion-datetime>
        <ion-input style="margin-left:3%;position: absolute;" readonly class="date" type="text" (click)="pick_datee(1)" name="startDate_text" [(ngModel)]="startDate_text"></ion-input>
        <ion-datetime #datePicker2 style="width: 25%; display:none;position: absolute;" readonly class="date" displayFormat="YYYY MMMM DD" cancelText="취소" doneText="확인" [(ngModel)]="endDate_text"></ion-datetime>
        <ion-input readonly style="margin-left:45%;position: absolute;" class="date" type="text" (click)="pick_datee(2)" name="endDate_text" [(ngModel)]="endDate_text"></ion-input>
    </div>
    <!-- <div class="daycss">
        <span style="font-weight:900; float: left; width:45%; text-align: center; font-size: 110%; padding-left: 10px;" (click)="pick_date(1)">
        {{startDate_text.split('-')[0]}}년 {{startDate_text.split('-')[1]}}월 {{startDate_text.split('-')[2]}}일
      </span>

        <span style="font-weight:900; float: left; width: 10%; font-size:120%; text-align: center;">></span>

        <span style="font-weight:900; float: right; width:45%; text-align: center; font-size: 110%; padding-right: 10px;" (click)="pick_date(2)">
        {{endDate_text.split('-')[0]}}년 {{endDate_text.split('-')[1]}}월 {{endDate_text.split('-')[2]}}일
      </span>
    </div> -->

    <div *ngIf="init_flag===false" class="fullbox" style="width: 100%;"></div>

    <!-- <div style="background: transparent; position: absolute; width: 90%; margin-left: 7.75%;">
      <div style="position: relative; width: 100%; height: auto;">
        <div class="btn-area" (click)="sld_click('red')" style="border: solid 1px red;"></div>
        <div class="btn-area" (click)="sld_click('orange')" style="border: solid 1px orange;"></div>
        <div class="btn-area" (click)="sld_click('yellow')" style="border: solid 1px yellow;"></div>
        <div class="btn-area" (click)="sld_click('green')" style="border: solid 1px green;"></div>
        <div class="btn-area" (click)="sld_click('blue')" style="border: solid 1px blue;"></div>
        <div class="btn-area" (click)="sld_click('indigo')" style="border: solid 1px indigo;"></div>
      </div>
    </div> -->

    <ion-slides #gameSlide paper=false loop=false slidesPerView="3.2" (ionSlideDidChange)="slideChanged2()" style="margin: 3% 5% 0 5%; width: 90%; z-index: 10; height: 45%;" *ngIf="init_flag===true" class="gameslide">
        <ion-slide *ngFor="let slidelist of game_slide; let idx = index;" class="wd33" [ngClass]="slidelist.length<2? 'halfbox':'fullbox'">
            <div style="width: 100%; height: 50%; text-align: center; margin: 1% 0 0 0; padding: 5% 0 5% 0; float: left;
            position: relative;" *ngFor="let slide of slidelist; let i = index" [ngClass]="slide.stock==='0'? 'no_stock':slide.fflag==true ? 'gameshowwithborder':'gameshow'" (click)="gameselected(slide,slide.num);">
                <div class="disp" style="position: relative;">
                    <div style="height: 50%; width: 90%; margin: 0 5% 0 5%;">
                        <img style="height: 100%; width: 100%;" src="{{slide.url}}" />
                    </div>
                    <span *ngIf="new_check(slide)===true" [ngClass]="(slide.hotflag===true||slide.hotflag==='true')?'hotandnew':'onlynew'" style="position: absolute; font-family: Arial Rounded MT Bold !important;
                    right: 0px; font-weight: 600; line-height: 12px;
                    border: solid 2px; background: white; color: orange; z-index: 20;
                    padding: 5px; border-radius: 8px; width: 40px; padding: 2px; font-size: 75%;
                    ">NEW</span>

                    <span *ngIf="slide.hotflag===true||slide.hotflag==='true'" style="position: absolute; font-family: Arial Rounded MT Bold !important;
                    right: 0px; top: -3px; font-weight: 600; line-height: 12px;
                    border: solid 2px; background: white; color: red;
                    padding: 5px; border-radius: 8px; width: 40px; padding: 2px; font-size: 75%;
                    ">HOT</span>

                    <!-- <br> -->
                    <span style="text-align: center;">
                        <div style="height: 35px; margin-top:7px; margin-bottom: 5px;">
                        <p style="margin:0px; font-weight: bold; height: auto; font-size:16px;">{{slide.name.split('\n')[0]}}</p>
                        <p style="margin:0px; font-weight: bold; height: auto; font-size:16px;">{{slide.name.split('\n')[1]}}</p>
                        </div>

                        <div style="text-align: center; margin-top: 10px;">
                        <p style="display: inline-block; margin:0px;"> 대여(일):</p>
                        <p style="display: inline-block; margin:0px; font-weight: bold; font-size: 14px;">{{number_format(slide.price)}}원</p> <br>
                        </div>
                    </span>
                </div>


                <img (click)="gotogamedetail(slide)" style="height: 20px;
                width: 20px; z-index: 20;
                position: absolute;
                left: 3px;
                top: 2px;
                background-color: white;
                border-radius: 100%;" src="assets/img/information2.png" />
            </div>
        </ion-slide>
    </ion-slides>

    <div style="width: 100%; height: auto; display: inline-block; margin-top: 2%; position: relative; text-align: center;">
        <ion-label style="width: 40%; font-size: 15px; font-weight: 600; float: left; margin: 0;">기기 대여 여부</ion-label>
        <ion-checkbox style="float: left; z-index: 100; width: 5%;" *ngIf="count!=0" [(ngModel)]="console_flag" (ionChange)="console_checkbox()"></ion-checkbox>
        <!-- <ion-checkbox style="float: left; z-index: 100; width: 5%;" *ngIf="count==0" [(ngModel)]="console_flag" (ionChange)="console_checkbox()"></ion-checkbox> -->

        <span style="width: 50% !important; text-align: center;" *ngIf="console_flag2!=true">게임을 선택해 주세요</span>
        <span style="width: 50% !important; text-align: center; margin-left:5%;" *ngIf="console_flag2===true">{{hardware.name}}</span>
    </div>
    <!-- <br> -->

    <div style="width: 100%; height: auto; position: relative; display: inline-block; margin-top:10px; text-align: center;">
        <ion-label style="width: 40%; font-size: 15px; font-weight: 600; margin: 0; float: left;">주변 기기 대여 여부</ion-label>
        <ion-checkbox style="float: left; z-index: 100; width: 5%;" [(ngModel)]="peri_flag" (ionChange)="peri_checkbox()"></ion-checkbox>
        <span style="width: 45% !important; text-align: center;" *ngIf="peri_flag2===true&&count!=0">
            {{peripheral[0].name}}<span *ngIf=" peripheral.length>1">외 {{peripheral.length-1}}개</span>
        </span>
    </div>

    <br style="height: 2%; ">

    <hr class="new1" style="margin-top:5px;">
    <div class="pay" *ngIf="payment_flag===true">
        <div style="width:70%; float:left">
            <div class="paymoney">
                <span style="font-size:15px;">대여 금액 : </span>
                <span style="font-size:15px;">{{number_format(totalprice)}}원</span  >
                <span  style="font-size:13px;"  *ngIf="coinprice>0" style="color: red; font-size: 80%;">코인({{coinprice}}원)</span>
            </div>

            <div *ngIf="contrast!=0" class="paymoney">
                <span style="font-size:15px;">보증금 : </span>
                <span style="font-size:15px;">{{number_format(contrast)}}원</span>
            </div>
            <div style="margin-top:5px;" class="paymoney">
                <span style="font-size:16px;">총 결제 금액 : </span>
                <span style="font-size:16px;" *ngIf="totalpaymoney==0">{{number_format(totalcontrast)}}원</span>
                <span style="font-size:16px;" *ngIf="totalpaymoney!=0">{{number_format(totalpaymoney)}}원</span>
            </div>


        </div>
        <div class="discount" (click)="discount()">
            <span>할인<br>적용하기</span>
        </div>
        <div *ngIf="contrast!=0" style="margin-top:10px; 
        display: inline-table;" class="paymoney">
            <span style="font-size:16.5px; color:red;">실질 결제 금액 (총 결제금액 - 보증금) : </span>
            <span style="font-size:16.5px; color:red;">{{number_format(totalcontrast-contrast)}}원</span>
        </div>

    </div>

    <div class="payment" (click)="goConfirm()">
        <span>결제하기</span>
    </div>

</ion-content>
<ion-menu [content]="content">
    <!-- <ion-header>
        <!-- <img src="assets/img/menu-icon.png" (click)="close()"
        style="width: 17%; left: 0px;
        background: transparent; z-index: 15;
        margin: 0; padding: 5px; margin-top: 5px;
        position: absolute;"/> -->
    <!-- <ion-toolbar>
          
        </ion-toolbar>
        <img src="assets/img/setting.png" (click)="gosetting()" menuClose *ngIf="user!=undefined||user!=null" style="width: 40px; right: 0; top: 0;
        background: transparent; z-index: 15;
        margin: 0; padding: 5px; margin-top: 5px;
        position: absolute;" /> -->
    <!-- <img src=“assets/img/menu-icon.png” menuToggle style=“width: 40px;
        height: 40px; background: transparent;
        margin: 0; padding: 5px; margin-top: 10px;
        float: left;” *ngIf=“search_flag==false” /> -->
    <!-- </ion-header> -->

    <ion-content [ngClass]="platformname == 'ios' ? 'ios-margin' : 'android-margin'">
        <ion-list>
            <div style="text-align: center;">
                <p *ngIf="user===undefined||user===null" style="float: left; width:100%; margin-left:auto; margin-right:auto; font-size:20px;">로그인을 해주세요.</p>
                <p *ngIf="user!=undefined&&user!=null" style="float: left; width:100%; margin-left:auto; margin-right:auto; font-size:20px;">{{user.name}}님</p>
            </div>
            <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
                {{p.title}}
            </button>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>