page-tspage {
    .swiper-pagination{
        // display: none !important;
    }
    .no_stock{
        // filter: blur(1px);
        background-color: lightgrey;
        border-radius: 8px;
        opacity: 0.5;
    }
    .gameshowwithborder{
        border-radius:8px;
        background-color: #70c5ed;
    }   
    .wd33{
        width: 30% !important;
        margin-left: 2.5%;
    }
    .halfbox{
        height: 165px;
    }
    .fullbox{
        height: 300px;
    }

    .no_scroll .scroll-content{
        overflow: hidden;
    }

    .console_selectbox{
        text-align: center;
        margin-left: 5%;
        width: 50%;
        font-size: 20px;
        background-color: white;
        height: 30px;
    }

    .activate{
        color: black;
    }
    .no_activate{
        color: lightgray;
    }
}
