page-setting {
    .toolbar-background-md{
        background: #E5333F;
        color: white !important;
        }
        .toolbar-title-md{
          color:white !important;
          font-size:15px;
        }
        .back-button{
            color:white !important;
            top: 10px !important;
        }
}
