<ion-content style="padding:0; margin:0;">
    <button class="closebtn" (click)="onClick()"><img src="./assets/img/close.png" style="background-color:transparent; width:100%;" alt=""></button>
    <ion-slides *ngIf="slides && slides.length" pager="true" loop=true speed=1000 class="firstslide" style="position:absolute">

        <ion-slide style="width:100% !important;" *ngFor="let slide of slides">

            <img style="width:100% !important; bottom:0px" [src]="slide.url">

        </ion-slide>
    </ion-slides>

</ion-content>