<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>회원가입</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div style="margin-top: 15%;" *ngIf="stage==1">
    <!-- <div class="input-title">이름</div>
    <ion-input class="input-box" placeholder="이름" [(ngModel)]="name" type="text"></ion-input> -->
    <div class="input-title">아이디</div>
    <ion-input class="input-box" placeholder="아이디(이메일)" [(ngModel)]="id" type="text"></ion-input>
    <div class="input-title">비밀번호</div>
    <ion-input class="input-box" placeholder="비밀번호(6~12자 입력)" [(ngModel)]="password" type="password"></ion-input>
    <div class="input-title">비밀번호 확인</div>
    <ion-input class="input-box" placeholder="비밀번호(6~12자 입력)" [(ngModel)]="password2" type="password"></ion-input>
    <div class="input-title">이름</div>
    <ion-input class="input-box" placeholder="실명을 입력해주세요" [(ngModel)]="name" type="text"></ion-input>

    <div class="input-title">휴대전화 번호</div>
    <ion-input style="width:50% !important;" class="input-box" placeholder="휴대전화 번호" [(ngModel)]="phone" type="number"></ion-input><button style="vertical-align: middle;
    line-height: 3;
    margin-top: 10px;
    margin-left: 20px;
    background: transparent;
    border: solid 1px;
    border-radius: 10px;" (click)="cert();">인증하기</button>

    <button ion-button class="login-button" (click)="nextstep()"
      style="background-color: rgb(249,168,124);">완료하기</button>
  </div>

    <!-- <div *ngIf="passwordcheck()===false"></div> -->
</ion-content>


  <!-- <div class="form">   
   <ion-list no-lines>     
      <ion-item class="content">      
          <ion-label style="display:inherit; position:relative; left:0px; width:40%">아이디
            <p style="color:#ff0000;">&nbsp;&nbsp;(필수)</p>
          </ion-label>
          <ion-input style="position:absolute; right:0px; width: 60%; border:1px solid grey; border-radius: 5px;" [(ngModel)]="email" type="text" placeholder="학번 입력해주세요(예: 88학번)"></ion-input> 
      </ion-item>      !-- 닉네임 --      <ion-item class="content">   
      <ion-label style="display:inherit; position:relative; left:0px; width:40%">비밀번호<p style="color:#ff0000;">&nbsp;&nbsp;(필수)</p></ion-label>    
      <ion-input style="position:absolute; right:0px; width: 60%; border:1px solid grey; border-radius: 5px;" [(ngModel)]="password" type="text" placeholder="기수 입력해주세요( 예 : 1기)"></ion-input>   
                       </ion-item>    
                       <ion-item class="content">   
                        <ion-label style="display:inherit; position:relative; left:0px; width:40%">비밀번호 확인<p style="color:#ff0000;">&nbsp;&nbsp;(필수)</p></ion-label>    
                                <ion-input style="position:absolute; right:0px; width: 60%; border:1px solid grey; border-radius: 5px;" [(ngModel)]="password2" type="text" placeholder="기수 입력해주세요( 예 : 1기)"></ion-input>   
                                 </ion-item>    
                                 
                                 <ion-item class="content">   
                                  <ion-label style="display:inherit; position:relative; left:0px; width:40%">코드<p style="color:#ff0000;">&nbsp;&nbsp;(필수)</p></ion-label>    
                                          <ion-input style="position:absolute; right:0px; width: 60%; border:1px solid grey; border-radius: 5px;" [(ngModel)]="code" type="text" placeholder="기수 입력해주세요( 예 : 1기)"></ion-input>   
                                           </ion-item>    
                                 <ion-item class="content">   
                                  <ion-label style="display:inherit; position:relative; left:0px; width:40%">이메일<p style="color:#ff0000;">&nbsp;&nbsp;(필수)</p></ion-label>    
                                          <ion-input style="position:absolute; right:0px; width: 60%; border:1px solid grey; border-radius: 5px;" [(ngModel)]="email2" type="text" placeholder="기수 입력해주세요( 예 : 1기)"></ion-input>   
                                           </ion-item>    
                      
                      
                      
                      </ion-list>        <button ion-button color="light" (click)="createUser()" class="boxBtn createUser">                                    시작하기          </button>  </div></ion-content> -->
