page-coins {
    .toolbar-background-md{
        background: #E5333F;
        color: white !important;
        }
        .toolbar-title-md{
          color:white !important;
          font-size:15px;
        }
        .back-button{
            color:white !important;
            top: 10px !important;
        }

        .separator {
            display: flex;
            margin-top:20px;
            align-items: center;
            text-align: center;
        }
        .separator::before, .separator::after {
            content: '';
            flex: 1;
           
            border-bottom: 1px solid red;
        }
        .separator::before {
            margin-right: .25em;
        }
        .separator::after {
            margin-left: .25em;
        }
        .mycoin > p {
           font-size:11px;
    width: 100%;
    margin: auto;
    margin-bottom: 0px;
    text-align: left;
        }
}
