<!--
  Generated template for the ConfirmPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>주문확인</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <!-- "(slide.hotflag===true||slide.hotflag==='true')?'hotandnew':'onlynew' -->


    <div class="divwidth1">
        <p style="font-weight: 800;">게임</p>
        <div *ngFor="let games of game">
            <p>{{games.name}}</p>
        </div>
    </div>
    <div class="divwidth">
        <div class="divwidth2">
            <p style="font-weight: 800; text-align: start; padding-left: 5%;">기기</p>
            <div *ngFor="let hardware of hwArray ">
                <p style=" text-align: start; padding-left: 5%;">{{hardware}}</p>
            </div>
        </div>
        <div class="divwidth2">
            <p style="font-weight: 800; text-align: start; padding-left: 5%;">주변기기</p>
            <div *ngFor="let peripherals of peripheral">
                <p style=" text-align: start; padding-left: 5%;">{{peripherals.name}}</p>
            </div>
        </div>
    </div>

    <div class="divwidth1">
        <p style="font-weight: 800;">결제 금액</p>
        <div>
            <p style="font-size:11px; color:red">* 보증금은 정상 렌탈 종료 시 반환되는 금액입니다.</p>
            <p>보증금 : {{number_format(contrast)}}원</p>
        </div>

        <p>게임 대여 비용 : {{number_format(gameprice)}}원</p>
        <p>총 결제 금액 : {{number_format(totalprice)}}원</p>
    </div>
    <div class="divwidth1">
        <p style="font-weight:800;display: inline-table;
        width: 40%;
        height: 100%;">배송지 정보</p>
        <div class="divwidth2" style="float:right;background-color:#70c5ed;">
            <button (click)="Delivery_area()" style="border-radius:10%;">입력/변경하기</button>
        </div>

        <div class="divaddress" *ngIf="user.address==undefined||user.address==null">
            <div *ngIf="Delivery_check===false" style="font-size:12px;">
                <p>기본 배송지가 입력되지 않았습니다.</p>
                <p>입력/변경 버튼을 통해 배송지 정보를 입력해주세요.</p>
            </div>
            <div *ngIf="Delivery_check===true">
                <p style="font-size:13px">수령인 : {{Delivery.name}}</p>
                <p style="font-size:13px">연락처 : {{Delivery.phone}}</p>
                <p style="font-size:13px">우편번호 : {{Delivery.code}}</p>
                <p style="font-size:13px">주소 : {{Delivery.adress}}</p>
                <p style="font-size:13px">상세주소 : {{Delivery.detail_adress}}</p>
            </div>
        </div>
    </div>
    <div (click)="geolocation_update()" class="payment">
        <span>결제하기</span>
    </div>
</ion-content>