page-confirm {
    .header-md::after,
    .tabs-md[tabsPlacement="top"]>.tabbar::after {
        background: transparent;
        border-bottom: 5px solid #eee;
    }
    .divwidth {
        width: 100%;
        text-align: center;
        height: 17%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .divwidth1 {
        text-align: left;
        display: block;
        width: 85%;
        margin: 2%;
        // height: 25%;
        margin-left: auto;
        margin-right: auto;
        border: 1px dashed #70c5ed;
        p {
            font-size: 13px;
            margin: 0;
            padding: 0;
        }
        padding:2%;
    }
    .divwidth2 {
        text-align: start;
        display: inline-table;
        width: 42%;
        height: 100%;
        padding: 2%;
        margin-left: auto;
        margin-right: auto;
        border: 1px dashed #70c5ed;
        p {
            font-size: 13px;
            margin: 0;
            padding: 0;
        }
        button {
            background-color: transparent;
            color: white;
            font-weight: 800;
            font-size: 12px;
        }
    }
    .divaddress {
        margin-top: 3%;
        background: rgb(246, 246, 246);
        padding: 5%;
        height: auto;
        white-space: initial;
        border: 0.5px solid rgb(234, 234, 234);
        p {
            font-size: 12px;
        }
    }
    .payment {
        position: fixed;
        bottom: 0%;
        left: 0;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 3%;
        color: white;
        background-color: #70c5ed;
        span {
            font-size: 20px;
            font-weight: 900;
        }
    }
    .ios-margin2 {
        margin-top: 60px;
    }
    .headconfirm {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        font-size: 18px;
        font-weight: 900;
        text-align: center;
        margin: 0% 0% 0% 0%;
        line-height: 2;
    }
}