page-access {
    .title {
        background-color: #70c5ed;
        text-align: center;
    }
    .titlespan {
        font-size: 25px;
        text-align: center;
    }
    .subtitle {
        padding-left: 15px;
        padding-right: 15px;
        font-size: 16px;
        text-align: center;
    }
    .content {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
    }
    .subcontent {
        padding: 10px;
    }
    .subcontent img {
        vertical-align: middle;
    }
    .subcontent span {
        vertical-align: middle;
    }
    .subcontent p {
        vertical-align: middle;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 13px;
        color: #646464;
    }
    .subcontent-text {
        width: 75%;
        float: right;
    }
}